@import '../../Var.scss';
@import './MenuDesktop.module.scss';
@import './MenuMobile.module.scss';
@import 'MenuPrograms.module';

nav {
    z-index: 5;
    position: fixed;
    top: 0;
    min-height: 62px;
    padding: 0 25px;
    width: 100%;
    overflow: hidden;
    // background-color: $cYellow;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.login {
    margin-left: 29px;
    align-items: center;
    display: flex;
    justify-self: end;
    a {
        font-weight: 900;
        font-size: 15px;
        color: $cDark;
        text-align: end;
        text-decoration: none !important;
    }
    small {
        margin-right: 6px;
    }
    a:hover {
        color: white;
        small {
            color: $cDark;
        }
    }
    .notScroll:hover {
        color: $cYellow;
    }
}