@import '../../Var.scss';
.page {
    margin: 62px 0 0;
}
.e404 {
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    div {
        margin: auto 0;
    }
}
