@import '/Var.scss';
.App,
.App-rtl {

  //@extend .font_UppercaseEnglish;
  background: white;
  color: $cDark;
  overflow: hidden;
  font-family: 'Darker Grotesque', Arial, sans-serif,;
}

.App-rtl {
  // @extend .font_hebrew;
  direction: rtl !important;
  text-align: right;
}

.container {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

// @font-face {
//   font-family: 'Georgia-Pro-Light-Italic';
//   src: url('./fonts/GeorgiaProW01-LightItalic.woff') format('woff'),
//   url('./fonts/GeorgiaProW01-LightItalic.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Georgia-Pro-Regular';
//   src: url('./fonts/GeorgiaProW01-Regular.woff') format('woff'),
//   url('./fonts/GeorgiaProW01-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Helvetica-Neue-Pro';
//   src: url('./fonts/HelveticaNeueLTPro-Lt.woff') format('woff'),
//   url('./fonts/HelveticaNeueLTPro-Lt.ttf') format("truetype");
// }

// @font-face {
//   font-family: 'Helvetica-Neue-Pro-Ultra-Light';
//   src: url('./fonts/HelveticaNeueLTPro-UltLt.woff') format('woff'),
//   url('./fonts/HelveticaNeueLTPro-UltLt.ttf') format("truetype");
// }

// .font_UppercaseEnglish {
//   font-family: 'Helvetica-Neue-Pro', 'Segoe UI' !important;
// }

// .font_lowercaseEnglish {
//   font-family: 'Georgia-Pro-Light-Italic' !important;
// }

// .font_titlesEnglish {
//   font-family: 'Georgia-Pro-Light-Italic' !important;
// }

// .font_dataEnglish {
//   font-family: 'Helvetica-Neue-Pro' !important;
// }

// .font_hebrew {
//   font-family: 'Segoe UI' !important;
// }

// .font_numbers {
//   font-family: 'Segoe UI' !important;
// }

// .font_symbols {
//   font-family: 'Lucida Sans Unicode' !important;
// }

// .font_foreignLanguage {
//   font-family: 'Lucida Sans Unicode' !important;
// }

// .font_codeTextFile {
//   font-family: "Noto Mono", 'Roboto Mono', "Droid Sans Mono", source-code-pro,
//   SFMono-Regular, 'Fira Mono', Menlo, Monaco, 'Inconsolata', 'DejaVu Sans Mono', Consolas, 'Liberation Mono', 'Courier New',
//   monospace !important;
// }

.hide-alt-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.span-link {
  color: #007BFF !important;
  cursor: pointer;
  text-decoration: underline;
  display: block;
}

span-link:hover, span-link:active {
  color: #00CCFF !important;
}

.page {
  padding: 67px 0 0;
  color: $cDark;

}

.page .page-content::-webkit-scrollbar-track {
  background-color: #0b477e;
}

.page .page-content::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: #041628;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.content-grid {
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.content-spacing {
  right: 22px;
}

.center-div {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.left-align-div {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.right-align-div {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.vertical-center-parent {
  position: relative !important;
}

.vertical-center-child {
  position: absolute;
  top: 50%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1900px;
  }
}
