@import '../../Var.scss';

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    li {
        a,
        p { transition:all ease .3s;
            margin: 0;
            align-self: end;
            font-size: 18px;
            font-weight: 900 !important;
            color: white !important;
            cursor: pointer;
            text-decoration: none !important;
            display: inline-block;
            font-weight: normal;
            text-align: center;
            padding: 20px;
        }
        a:active,
        a:hover,
        p:hover {
            color: $cDark !important;
            font-weight: 900 !important;
            text-decoration: none !important;
        }
        i {
            margin-left: 8px;
        }
    }
}
.active{
    color:$cDark;
}
