@import '../../Var.scss';

nav {
    z-index: 5;
    position: fixed;
    top: 0;
    height: 62px;
    padding: 0 25px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: $cYellow;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        align-items: center;
        display: flex;
        justify-self: end;

        div {
            margin-left: 29px;
        }
    }

    .login a {
        font-weight: 900;
        cursor: pointer;
        font-size: 15px;
        color: $cDark;

        text-decoration: none !important;
        a:active,
        a:hover {
            color: white !important;
        }
    }
}
