@import '../../Var.scss';

nav {
    z-index: 5;
    position: fixed;
    top: 0;
    height: 62px;
    padding: 0 25px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: $cYellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .login {
        margin-left: 29px;
        align-items: center;
        display: flex;
        justify-self: end;
        a {
            font-weight: 900;
            font-size: 15px;
            color: $cDark;
            text-align: end;
            text-decoration: none !important;
        }
        a:hover {
            color: white;
            small {
                color: $cDark;
            }
        }
        small {
            margin-right: 6px;
        }
    }
}
button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    i {
        color: #273c48;
    }
}

.mBG {
    display: flex;
    position: fixed;
    top: 62px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.mNav {
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 62px;
    width: 100%;
    background: $cDark;
    z-index: 2;

    a {
        align-self: end;
        font-size: 18px;
        font-weight: 900;
        color: white;
        padding: 20px 30px;
        text-decoration: none !important;

    }
    a:nth-of-type(2),
    a:nth-of-type(3) {
        padding: 20px 50px;
    }
    a:hover {
        color: $cYellow;
    }
    .active {
        color: $cYellow;
    }
}
