@import '../../Var.scss';

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    li {
        a,
        p {
            transition: all ease 0.3s;
            margin: 0;
            align-self: end;
            font-size: 18px;
            font-weight: 900 !important;
            color: white !important;
            cursor: pointer;
            text-decoration: none !important;
            display: inline-block;
            text-align: center;
            padding: 17px;
        }
        a:active,
        a:hover,
        p:hover {
            color: $cDark !important;
            font-weight: 900 !important;
            text-decoration: none !important;
        }

        i {
            margin-left: 8px;
        }
    }
}
.active {
    transition: all none;
    padding-top: 12px;
    color: $cDark !important;
    border-top: solid $cDark 7px;
}
