@import '../../Var.scss';

.menuStyle {
    nav {
        z-index: 5;
        position: fixed;
        top: 0;
        height: 62px;
        padding: 0 25px;
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-color: $cYellow;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            align-items: center;
            display: flex;
            justify-self: end;

            div {
                margin-left: 29px;
            }
        }
        .login {
            a {
                font-weight: 900;
                font-size: 15px;
                color: $cDark;
                text-align: end;
                text-decoration: none !important;
            }
            a:hover {
                color: white;
                small {
                    color: $cDark;
                }
            }
            small {
                margin-right: 6px;
            }
        }
    }
}
