@import '../../Var.scss';

.program {
    position: fixed;
    top: 62px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $cDark;
    z-index: 2;
}

.submenu {
    max-width: 400px;
    width: 30%;
    margin: 23px 30px;

    a {
        color: white;
        text-decoration: none;
    }

    h2 {
        font-size: 30px;
    }
    a:hover h2 {
        color: $cYellow;
    }

}
.bgDark {
    display: flex;
    position: fixed;
    top: 62px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    z-index: 1;
}
