@import '../../Var.scss';

.mNav {
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 62px;
    width: 100%;
    background: $cDark;
    z-index: 2;
    a {
        align-self: end;
        font-size: 18px;
        font-weight: 900;
        color: white;
        padding: 20px 30px;

    }
    a:nth-of-type(2),
    a:nth-of-type(3) {
        padding: 20px 50px;
    }
    a:hover {
        color: $cYellow;
        text-decoration: none;
    }
    .active {
        color: $cYellow;
    }
}
