@import '../../Var.scss';
.btn {
    background: none;
    text-align: center;
    display: block;
    width: 240px;
    border: $cDark 2px solid;
    padding: 17px 15px;
    transition: background-color 108ms ease;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    color: $cDark;
    font-weight: 900;
    transition: all ease 0.3s;
    :hover {
        background-color: $cDark;
        text-decoration: none;
        color: white;
    }
}