@import '../../Var.scss';

.hero {
    text-align: center;
    max-width: 940px;

    > div {
        min-height: 640px;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        margin: 40px 0 20px;
    }

    p {
        font-size: 19px;
        margin: 41px 0 25px;
    }
}

.welcome {
    min-height: 440px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    max-width: 940px;
    padding: 20px 60px;
    margin: 0 auto;

    h1 {
        font-weight: 900;
        font-size: 60px;
        margin: 40px 0 20px;
    }

    p {
        font-size: 19px;
        margin: 0 0 52px;
    }
}

.content {
    max-width: 940px;
    padding: 0;

    h2 {
        text-align: center;
        margin: 40px auto 30px;
        display: block;
        padding: 10px;
        background: $cYellow;
    }

    .list {
        margin-bottom: 30px;
        > div > div {
            padding: 1em;
            border-top: 2px solid #ffc40c;
        }
        > div > div:last-child div {
            display: flex;
            justify-content: space-between;
        }

        h4 {
            margin-top: 0;

            a {
                text-align: center;
                text-decoration: none;
                color: $cDark !important;
                cursor: pointer;
            }
        }
    }
}

.creating {
    text-align: center;
    background: $clight;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        font-size: 50px;
        margin: 0;
    }

    > h5 {
        font-size: 18px;
        margin: 0;
    }
}

.collaborations {
    background: white;
    margin: 57px 0;
    max-width: 960px;
    text-align: start;
    div > div:first-child {
        padding: 156px 49px 0;

    }
    div > div:last-child {
        color: white;
        background-image: url('../../images/BE\ BOLD.png');
        background-position: center;
        background-size: cover;
        min-height: 488px;
        background-repeat: no-repeat;
        padding: 274px 40px 40px;

        h2 {
            font-weight: normal;
        }

        a {
            color: white;
            text-decoration: none;
        }
        a:active,
        a:hover {
            color: $cYellow;
        }
    }
}

.Cardlinks {
    max-width: 960px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.teacherStrip {
    div > div:first-of-type {
        background: $cYellow;
        padding: 101px 133px;
    }
    div > div:last-of-type {

        background-image: url('../../images/HomeA.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.shared {
    max-width: 940px;
    margin: 200px auto;
    padding: 0 161px;
    text-align: center;

    h1 {
        font-size: 50px;
        font-weight: 900;
    }

    h4 {
        margin: 10px 0 20px;
        font-size: 24px;
    }

    a {
        background-color: $cYellow;
        border: none;
    }
}
@media (max-width: 992px) {
    .welcome {
        a {
            margin: 0 auto !important;
        }
    }
    .list {
        flex-direction: column;
        align-items: center;

        > div {
            min-width: 90% !important;
        }
    }
    .collaborations > div > div:first-child {
        order: 2;
        padding: 36px !important;
        min-width: 100%;

        a {
            margin: 0 auto !important;
        }
    }
    .collaborations > div > div:last-child {
        min-width: 100%;
    }
    .teacherStrip > div > div:first-child {
        padding: 36px;
        display: flex;
        align-items: center;
    }
    .teacherStrip > div > div:last-child {
        padding: 36px;
        align-self: center;
        min-height: 400px;
    }
    .shared {
        padding: 81px;
    }
}
